<!-- templates/_footer.twig -->
<footer>
    <div class="footer-left">
        <p>De CO₂-emissie en verbruikswaarden...</p>
    </div>
    <div class="footer-right">
        <h2>Contactgegevens</h2>
        <p>SuperCar's By Dario</p>
        <p>Adres: Elfde-Liniestraat 112</p>
        <p>GSM: (+32) 456 78 90 47</p>
        <p>Email: dariolupinetti@hotmail.com</p>
    </div>
    <div class="social-icons">
        <a href="https://www.facebook.com/Lamborghini/?locale=nl_NL" target="_blank"><img src="{{ url('assets/facebook-icon.png') }}" alt="Facebook"></a>
        <a href="https://twitter.com/lamborghini?lang=nl" target="_blank"><img src="{{ url('assets/twitter-icon.png') }}" alt="Twitter"></a>
        <a href="https://www.instagram.com/lamborghini/" target="_blank"><img src="{{ url('assets/instagram-icon.png') }}" alt="Instagram"></a>
    </div>
</footer>
